body {
	margin: 0;
	padding: 0;
}

button:hover {
	cursor: pointer !important;
}

p {
	margin: 0;
}

/* CLASSES PADRAO PROJETO */

.nav,.footer {
	/*mudar aqui*/
	/*line-height: 80px;*/
}

.destaque {
	background-color: #f5f5f5;
}

.footer hr {
	margin: 0;
	background-color: rgba(255,255,255,0.35);
}

.footer a {
	margin-right: 20px;
}

/* INDEX LOGADO */

.top8 {
	margin-top: 8px;
}

.perfil_instituicao {
	padding: 20px 0;
}

.perfil_usuario {
	padding: 20px 0;
}

.social:hover {
	opacity: 0.5;
}

/* LOGO E MENU */

.logotipo_99 img {
	height: 40px !important;
}

.foto_menu {
	margin-left: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-left: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.foto_menu img {
	max-height: 45px;
}

.menu {
	line-height: 40px !important;
}

.menu_busca {
	border: 1px solid #fff !important;
}
.menu_busca.btn {
	background-color: #000 !important;
}

/* INDEX DESLOGADO */

.quem-somos,.eventos-destaque {
	padding: 50px 10%;
}

.como-funciona {
	padding: 50px 10%;
}

.evento {
	margin: 6% 0.5%;
}

/* DROPDOWN MODIFICADO DO BOOTSTRAP COM OUTRO NOME */

.dropdown-login {
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: normal;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0;
}

.dropdown-login:focus, .dropdown-login:hover {
  color: #1d1e1f;
  text-decoration: none;
  background-color: #f7f7f9;
}

#map {
  height: 500px;
  width: 100%;
  border: 3px solid lightgrey;
}
